[class^="box"]{
    color:red;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0,1);
    padding: 10px;
}

.box1 {background:#e74c3c}

.flex-container {
    border:10px solid red;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
}

[class^="box"]{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    width: 98.5%;
    height: 30vh;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.child {
    background-color: red;
    padding: 2rem;
}

.Home_hero {
    margin: 50px 6px;
    height: 400px;
}

.top {
    display: flex;
    flex-flow: row wrap;
}

.img {
    flex-flow: column
}

.top2 {
    display: flex;
    flex-flow: row wrap;
}

.button1 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
    display: inline-block;
    font-size: 88px;
    margin: 50px 6px;
    cursor: pointer;
    height: 400px;
  }

.button1 {background-color:#831619;}

.button2 {
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
    display: inline-block;
    font-size: 120px;
    margin:40px 10px;
    cursor: pointer;
    height: 400px;
  }

.button2 {background-color:#831619;}

.redcar {
    border: none;
    color: black;
    padding: 0px 65px;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
    display: inline-block;
    font-size: 34px;
    margin: 0px 200px;
    cursor: pointer;
    height: 200px;
    
  }

.redcar {background-color:white;}

