p.solid {border-style: solid;
    background-color: rgb(131, 22, 25);
color: white;
align-self:space-between;
}

p.solid1 {border-style: solid;
}

p.solid2 {border-style: solid;
}

p.solid3 {border-style: solid;
}