<<<<<<< HEAD
nav{
    background-color: rgb(131, 22, 25);
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: blue;
  }  

  div { display: flex;
align-items: flex-start;
    background-color: black;
  }

  ul {
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 450px;
  justify-content: space-evenly;
  }

  footer {display: flex;
align-items: flex-start;
  }

  
=======
@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap");
:root{
    font-family: Genos;
}
>>>>>>> c86cea6240b9c550d52222bad1a3f8aab2f87ae7
